@media screen and (max-width: 768px) {
  .container {
    width: 700px;
  }
  .filter {
    height: 380px;
  }
  .filter .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .flagman {
    left: 430px;
    top: 216px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 350px;
  }
  .filter {
    height: 600px;
  }
  .filter .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .flagman {
    left: 430px;
    top: 216px;
  }
}
