/*Общие стили */

body {
  font-family: "TT Norms Regular";
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 1170px;
  height: auto;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: "TT Norms Regular";
  src: url("TTNorms-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Стихи для header*/

.header .container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 42px;
}
.header__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  color: #1a1a18;
}
.hit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  width: 124px;
  height: 28px;
  background-color: #fec022;
  border-radius: 4px;
}
.hit span {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}
/*Стихи для filter*/

.filter {
  position: relative;
  background: linear-gradient(
      177.19deg,
      rgba(236, 236, 236, 0.8) 31.65%,
      rgba(235, 235, 235, 0.6) 106.2%,
      rgba(235, 235, 235, 0) 142.48%
    ),
    center / cover no-repeat url(../img/bcg.png);
  height: 250px;
}
.filter .container {
  display: flex;
  justify-content: space-between;
}
.filter__item {
  position: relative;
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  z-index: 2;
}
.filter__item span {
  display: inline-block;
  margin-left: 8px;
  font-size: 18px;
}

.filter__label input {
  display: none;
}

.filter__label input:checked + .filter__button {
  background-color: #e31e25;
  color: #ffffff;
  border: 1px solid #e31e25;
}

.filter__button {
  margin-top: 20px;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
}

.filter__button:hover {
  background: #fce8e9;
  border: 1px solid #e31e25;
  outline: none;
}
button:hover {
  background: #fce8e9;
  border: 2px solid #e31e25;
  outline: none;
}

.button:active {
  background: #e31e25;
  color: #ffffff;
  outline: none;
}
.filter__title {
  display: flex;
  justify-content: left;
}
.price .filter__button {
  font-weight: 500;
  font-size: 20px;
}
.button {
  margin-top: 40px;
  height: 60px;
  width: 211px;
  background: #ffffff;
  border: 2px solid #e31e25;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #e31e25;
  box-sizing: border-box;
}

.flagman {
  z-index: 1;
  position: absolute;
  right: 130px;
  top: 90px;
}

/*Стили для заявки*/
#form {
  background-color: #666666;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}
.order {
  background: #ffffff;
  width: 430px;
  height: 436px;
}
.order__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: #f1f2f2;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #1a1a18;
  vertical-align: middle;
}
.exit {
  position: absolute;
  top: 12px;
  right: 12px;
}
.input_text {
  width: 370px;
  height: 50px;
  border: 1px solid #99a2ad;
  box-sizing: border-box;
  border-radius: 4px;
  background: #f1f2f2;
  font-size: 14px;
  color: #99a2ad;
  margin-bottom: 15px;
  margin-left: 30px;
  padding-left: 15px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.checkbox input {
  width: 20px;
  height: 20px;
  color: #f1f2f2;
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 4px;
}
.checkbox__text {
  font-size: 14px;
  color: #898989;
  margin-left: 10px;
}
.send {
  width: 150px;
  height: 50px;
  background: #e31e25;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 32px;
}
